@charset "utf-8";
/* CSS Document */

#main {
	width: 300px;
	margin: auto;
}
h1 {
	text-align: center;
}
#izpisZgodba {
	text-align: center;
}
#pesek { 
	float: left;
	width: 100px;
	height: 200px;
}
#pobozaj { 
	float: left;
	width: 100px;
	height: 200px;
}
#pobeg { 
	float: left;
	width: 100px;
	height: 200px;
}
#zverMoc {
	width: 300px;
	height:10px;
	position:absolute;
	margin-top:100px;
}